In [1]:
import scipy
from statsmodels.stats.weightstats import *

import numpy as np

In [2]:
mu = 9.5
sigma = 0.4

In [3]:
n = 160
mu_t = 9.57

In [4]:
z = (mu_t - mu)/(sigma/np.sqrt(n))

In [5]:
z

2.213594362117875

In [31]:
p_values = 2 * scipy.stats.norm.sf(abs(z))
np.round(p_values, 4)

0.0269

In [9]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [10]:
data = pd.read_csv('diamonds.txt', sep='\t', header=0)

In [11]:
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [34]:
data.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [12]:
X = data.drop(['price'], axis=1).values
y = data['price'].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [15]:
lr_model = LogisticRegression()
rfr_model = RandomForestRegressor(random_state=1)

In [16]:
lr_model.fit(X_train, y_train)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=-1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
lr_pred = lr_model.predict(X_test)

In [18]:
rfr_model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [19]:
rfr_pred = rfr_model.predict(X_test)

In [20]:
stats.ttest_rel(abs(y_test - lr_pred), 
                abs(y_test - rfr_pred))

Ttest_relResult(statistic=52.817721792184216, pvalue=0.0)

In [33]:
DescrStatsW(abs(lr_pred-y_test) - abs(rfr_pred-y_test)).tconfint_mean()

(735.4120113244106, 792.1001351961473)