In [209]:
import pandas as pd
import numpy as np

from sklearn.metrics import roc_auc_score

### Загрузите данные из файла data-logistic.csv. Это двумерная выборка, целевая переменная на которой принимает значения -1 или 1.

In [210]:
data = pd.read_csv('data-logistic.csv', header=None)

In [211]:
data.head()

   0         1         2
0 -1 -0.663827 -0.138526
1  1  1.994596  2.468025
2 -1 -1.247395  0.749425
3  1  2.309374  1.899836
4  1  0.849143  2.407750

In [212]:
X = data.drop([0], axis=1).copy()
y = data[0].copy()

del data

In [213]:
X.head()

          1         2
0 -0.663827 -0.138526
1  1.994596  2.468025
2 -1.247395  0.749425
3  2.309374  1.899836
4  0.849143  2.407750

In [214]:
y.head()

0   -1
1    1
2   -1
3    1
4    1
Name: 0, dtype: int64

### Убедитесь, что выше выписаны правильные формулы для градиентного спуска. Обратите внимание, что мы используем полноценный градиентный спуск, а не его стохастический вариант!

### Реализуйте градиентный спуск для обычной и L2-регуляризованной (с коэффициентом регуляризации 10) логистической регрессии. Используйте длину шага k=0.1. В качестве начального приближения используйте вектор (0, 0).

In [298]:
C = 10
k = 0.1

w = np.array([5, 5])

In [285]:
def compute_J(X, y, w, C=10):
    return np.sum((np.log(1 + np.exp(-y * (X.dot(w)))))) / len(y) + C * np.sum(w ** 2) / 2

In [286]:
def sigmoid(z):
    return 1.0 / (1 + np.exp(-z))

In [287]:
def compute_z(X, y, w):
    return y * (X.dot(w))

In [288]:
def compute_weights(X, y, w, k=0.1, C=10):
    l = len(y)
    
    w = w + (k / l) * (y * X.T).dot((1 - sigmoid(compute_z(X, y, w)))) - k * C *w
    
    return w

### Запустите градиентный спуск и доведите до сходимости (евклидово расстояние между векторами весов на соседних итерациях должно быть не больше 1e-5). Рекомендуется ограничить сверху число итераций десятью тысячами

In [289]:
w_last = w
w = compute_weights(X, y, w, C=C, k=k)
num_count = 1

E = 10 ** -5
n_max = 10000
while (np.sqrt(np.sum((w_last - w)**2)) > E and num_count < n_max):
    num_count += 1
    w_last = w
    w = compute_weights(X, y, w, C=C, k=k)
    # print(np.sqrt(np.sum((w_last - w)**2)))

In [290]:
np.sqrt(np.sum((w_last - w)**2)), num_count

(3.0900679893266135e-06, 10)

In [291]:
answer2 = roc_auc_score(y, sigmoid(X.dot(w)))
answer2

0.93628571428571417

In [292]:
C = 0
k = 0.1

w = np.array([5, 5])

In [293]:
w_last = w
w = compute_weights(X, y, w, C=C, k=k)
num_count = 1

E = 10 ** -5
n_max = 10000
while (np.sqrt(np.sum((w_last - w)**2)) > E and num_count < n_max):
    num_count += 1
    w_last = w
    w = compute_weights(X, y, w, C=C, k=k)
    #print(np.sqrt(np.sum((w_last - w)**2)))

In [294]:
np.sqrt(np.sum((w_last - w)**2)), num_count

(9.9986222503165603e-06, 372)

In [295]:
answer1 = roc_auc_score(y, sigmoid(X.dot(w)))
answer1

0.92666666666666664

In [296]:
with open('output.txt', 'w') as f:
    f.write(str(round(answer1, 3)) + ' ' + str(round(answer2, 3)))