In [81]:
import pandas as pd
import numpy as np

In [82]:
data = pd.read_csv('water.txt', sep='\t')

In [83]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [84]:
from statsmodels.stats.weightstats import _tconfint_generic

# Task 2

In [85]:
mortality_std = data['mortality'].std(ddof=1)
mortality_mean = data['mortality'].mean()

In [86]:
mortality_mean_std = mortality_std / np.sqrt(len(data['mortality']))

In [87]:
confidence_interval_for_mortality = _tconfint_generic(mortality_mean,
                                                      mortality_mean_std,
                                                      len(data['mortality']) - 1,
                                                      0.05, 'two-sided')

In [88]:
np.round(confidence_interval_for_mortality[0], decimals=4)

1476.0833

In [89]:
confidence_interval_for_mortality[0]

1476.0833413552848

# Task 3

In [90]:
data_s = data[data['location'] == 'South']

In [91]:
mortality_s_std = data_s['mortality'].std(ddof=1)
mortality_s_mean = data_s['mortality'].mean()

In [92]:
mortality_s_mean_std = mortality_s_std / np.sqrt(len(data_s['mortality']))

In [93]:
confidence_interval_for_mortality_s = _tconfint_generic(mortality_s_mean,
                                                      mortality_s_mean_std,
                                                      len(data_s['mortality']) - 1,
                                                      0.05, 'two-sided')

In [94]:
np.round(confidence_interval_for_mortality_s[1], decimals=4)

1433.4636

In [95]:
confidence_interval_for_mortality_s

(1320.1517462936238, 1433.463638321761)

# Task 4

In [64]:
data_n = data[data['location'] == 'North']

In [65]:
mortality_n_std = data_n['mortality'].std(ddof=1)
mortality_n_mean = data_n['mortality'].mean()

In [66]:
mortality_n_mean_std = mortality_n_std / len(data_n['mortality'])

In [67]:
confidence_interval_for_mortality_n = _tconfint_generic(mortality_n_mean,
                                                      mortality_n_mean_std,
                                                      len(data_n['mortality']) - 1,
                                                      0.05, 'two-sided')

In [68]:
confidence_interval_for_mortality_n

(1625.6488775458643, 1641.5511224541356)

# Task 5

In [69]:
hardness_n_mean_std = data_n['hardness'].std(ddof=1) / len(data_n['hardness'])

In [70]:
confidence_interval_for_hardness_n = _tconfint_generic(data_n['hardness'].mean(),
                                                      hardness_n_mean_std,
                                                      len(data_n['hardness']) - 1,
                                                      0.05, 'two-sided')

In [71]:
confidence_interval_for_hardness_n

(28.8825233865301, 31.917476613469898)

In [72]:
hardness_s_mean_std = data_s['hardness'].std(ddof=1) / len(data_s['hardness'])

In [74]:
confidence_interval_for_hardness_s = _tconfint_generic(data_s['hardness'].mean(),
                                                      hardness_s_mean_std,
                                                      len(data_s['hardness']) - 1,
                                                      0.05, 'two-sided')

In [75]:
confidence_interval_for_hardness_s

(66.57213924335265, 72.9663222951089)